p{
    font-size: xx-large;
    font-weight: bolder;
}
h1{
    padding:20px;
    border: 2px solid goldenrod;
    margin:20px
}
img{
    height:auto;
    width: 500px;
    /*border-radius:500px;*/
    background-color: rgb(255, 255, 255);
    padding:50px;
}
video{
    height:auto;
    width: 100%

}
.imgvideo{
    background-color:rgb(0, 0, 0);
    padding:20px;
}
#p1{
    font-weight: 600;
    font-style: italic;
}
#p2{
    font-style: oblique;
}
nav{
    display:flex;
    flex-direction: row;
    gap:5px;
}
ol{
    list-style-type: upper-roman;
}
ul{
    list-style-type: circle;
}
table,td,th{
    border:1px solid rgb(255, 252, 252);
}th{
    background-color: rgb(69, 121, 166);
}
button{
    background-color: brown;
    border-radius: 20px;
    padding:10px;
    margin:20px;
}
button:hover{
    background-color: crimson;
}
h1.hover{
    color:crimson;
}form{
    height: 300x;
    width: 500px;
    background-color:rgb(69, 121, 166);
    padding:50px;
    border-radius: 10px;

}
.grid{
    display:grid;
    width: 100px;
    grid-template-columns: 33% 33% 33%;
}#one{
    grid-row: 1/2;
    background-color: cadetblue;

}
#two{
    grid-row: 1/2;
    background-color:cadetblue;
}
#three{
    grid-row: 1/2;
    background-color: cadetblue;
}
#four{
    grid-row: 2/3;
    background-color: chocolate;
}
#five{
    grid-row: 2/3;
    background-color:  chocolate;
}
#six{
    grid-row: 2/3;
    background-color:  chocolate;
}
.images{
    display:grid;
    grid-template-columns: 50% 50%;
}
.grid{
    display:grid;
    grid-template-columns: 33% 33% 33%;
}
@media(min-width:1024){
    img{
        height:auto;
        width:100%;
        background-color: aliceblue;
        padding:400px;
    }
}
@media(min-width:1024px){
    nav{
        display:flex;
        flex-direction:row;
        gap:50px;
    }
}
nav{
        display:flex;
        flex-direction:column;
}    
.grid{
    height:auto;
    width:100%;

}